<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{livepage.title}} | {{project.name}}</title>
        <link rel="stylesheet" type="text/css" href="{{global.baseUrl}}/styles/font.css" />
        <link rel="stylesheet" type="text/css" href="{{global.baseUrl}}/styles/theme.css" />
    </head>
    <body>
        <div class="gevme-template-container">
            <gevme-header />